<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @book.titulo %>
</p>

<p>
  <strong>Paginas:</strong>
  <%= @book.paginas %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
